@code {
    [Parameter]
    public required string TagName { get; set; }
}

<span class="hover:bg-opacity-15 transition-all block px-3 py-2 rounded bg-zinc-50 bg-opacity-5 border border-zinc-50 border-opacity-15">@TagName</span>