@model Domain.DTO.CreateProjectDto

@{
    ViewBag.Title = "Create project";
    Layout = "_AppLayout";
}

<h1>Create a project</h1>

<form type="post" asp-action="CreateProject">
    <input type="text" asp-for="Name" placeholder="Project name" />
    <input type="text" asp-for="Description" placeholder="Project description" />
    <button type="submit">Create</button>
</form>

@if (ViewBag.Errors is not null)
{
    foreach (var error in ViewBag.Errors)
    {
        <span class="text-red-200 block mt-1">@error</span>
    }
}