@using Domain.Entities
@model AppHomeModel

@{
    Layout = "_AppLayout";
}

<div class="flex items-center py-3 mt-7 border-bottom border-zinc-100 border-opacity-10 rounded-xl">
    <span class="text-3xl font-semibold flex-grow">Projects</span>
    <span class="text-lg font-semibold mr-2">@Model.Username</span>
    <img class="w-10 h-10 rounded-full" src="https://picsum.photos/200">
</div>

<a asp-action="CreateProject" class="block w-24 text-center p-3 font-semibold border-zinc-100 border border-opacity-15 rounded-md mt-4 mb-2 hover:bg-zinc-50 bg-opacity-15 hover:bg-opacity-20">Create</a>

@foreach (Project project in Model.Projects)
{
    <div class="mb-2 transition-all hover:bg-opacity-5 hover:cursor-pointer block w-full h-auto bg-zinc-50 bg-opacity-10 p-3 rounded border border-zinc-300 border-opacity-10">
        <div class="w-full flex -mb-4">
            <span class="text-xl font-semibold flex-grow">@project.Name</span>
            <div class="flex p-1.5 px-2 bg-zinc-50 bg-opacity-10 rounded-full">
                TBA
            </div>
        </div>
        <p class="block">
            @project.Description
        </p>
        <div class="my-2 flex [&>*:first-child]:ml-0 *:ml-1 ">
            <span class="hover:bg-opacity-15 text-sm transition-all block px-2 py-1 rounded bg-zinc-50 bg-opacity-5 border border-zinc-50 border-opacity-15">TBA</span>
        </div>
        <small class="block text-right -mt-5">TBA</small>
    </div>

}
