@model Domain.Entities.Project

@{
    ViewBag.Title = "Project creation success";
    Layout = "_AppLayout";
}

<h1>Successfully created project!</h1>
<h2>@Model.Name</h2>
<a asp-action="Index">Home</a>