@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Presentation.Mvc.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot password";
    Layout = "_Layout";
}

<div class="login-register-container">
    <a asp-action="Index" asp-controller="Home" class="login-title">Studioflow</a>
    <a asp-action="Login">Back</a>
    <div class="mt-8">
        <h3 class="login-register-info">Reset your password</h3>
        <h3 class="text-red-200">@ViewBag.ErrorMessage</h3>
        <form asp-action="ForgotPassword" asp-controller="Account" method="post" class="text-zinc-300 mb-0.5 border-zinc-400 *:mb-0.5">
            <input class="login-form-input" type="text" asp-for="Username" placeholder="Username"/>
            <button class="login-form-button">Reset</button>
        </form>
        @if (ViewBag.Errors is not null)
        {
        foreach (var error in ViewBag.Errors)
        {
        <span class="block mt-1 text-red-200">@error</span>
        }
        }
    </div>
</div>