@model Domain.DTO.LoginUserDto

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="login-register-container">
    <a asp-action="Index" asp-controller="Home" class="login-title">Studioflow</a>
    <div class="login-register-switcher">
        <a class="login-register-switch switch-selected" asp-action="Login">Login</a>
        <a class="login-register-switch" asp-action="Register">Register</a>
    </div>
    <div class="mt-8">
        <h3 class="login-register-info">Login to an existing account</h3>
        <h3 class="text-red-200">@ViewBag.ErrorMessage</h3>
        <form asp-action="Login" asp-controller="Account" method="post" class="text-zinc-300 mb-0.5 border-zinc-400 *:mb-0.5">
            <input class="login-form-input" type="text" asp-for="Username" placeholder="Username"/>
            <input class="login-form-input" type="password" asp-for="Password" placeholder="Password"/>
            <button class="login-form-button">Login</button>
        </form>
        <a asp-action="ForgotPassword">Forgot password?</a>
        @if (ViewBag.Errors is not null)
        {
            foreach (var error in ViewBag.Errors)
            {
                <span class="block mt-1 text-red-200">@error</span>
            }
        }
    </div>
</div>