@model Presentation.Mvc.Models.ManageAccountModel

@{
    ViewBag.Title = "Account Details";
    Layout = "_AppLayout";
}

<div>
    
</div>

<a class="button" asp-controller="Account" asp-action="Logout">Logout</a>
