@model dynamic

@{
    ViewBag.Title = "Password resest";
    Layout = "_Layout";
}

<strong>If your account exists, a password recovery email has been sent to your email address.</strong>
<a asp-action="Login">Back</a>