<!DOCTYPE html>
<html lang="en" class="h-full p-0 m-0 overflow-auto">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="application.css"/>
    <link rel="stylesheet" href="Presentation.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <title>Studioflow</title>
    <HeadOutlet/>
</head>

<body class="box-border font-sans text-zinc-200 bg-gradient-to-br from-purple-950 to-zinc-950 bg-no-repeat h-full overflow-auto">
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>