@using Domain.Enums
@model CreateProjectViewModel

@{
    ViewBag.Title = "Create project";
    Layout = "_AppLayout";
}

<a class="mini-back-button" asp-controller="App" asp-action="Index">Back</a>


<form type="post" asp-action="CreateProject" class="create-form" id="create-project-form">
    <div asp-validation-summary="All"></div>
    <input project-title type="text" asp-for="CreateProjectDto.Name" id="project-name" placeholder="Project name"/>
    <textarea asp-for="CreateProjectDto.Description" id="project-description" placeholder="Project description"></textarea>
    @Html.DropDownListFor(f => f.CreateProjectDto.DigitalAudioWorkstation, Html.GetEnumSelectList(typeof(DigitalAudioWorkstation)))
    <input type="text" id="tag-add-input" placeholder="Enter tag..."/>
    <div id="tag-list" class="form-tag-display">
    </div>
    <input type="hidden" id="all-tags" asp-for="TagsSplit"/>
    <button type="submit" id="submit-create-project">Create</button>
    <button type="button" id="completion-button">AI Completion</button>
</form>

@if (ViewBag.Errors is not null)
{
    foreach (var error in ViewBag.Errors)
    {
        <span class="text-red-200 block mt-1">@error</span>
    }
}

<script src="~/js/CreateProject.js"></script>
<script src="~/js/AiCompletionAddProject.js"></script>