@page "/app"
@using Presentation.Services
@using Infrastructure.Interfaces
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

@rendermode InteractiveServer

@code {
    bool _loading = true;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!await AuthService.UserIsAuthenticated())
            {
                NavManager.NavigateTo("login");
            }
            _loading = false;
        }
    }
}

<LoadingElement Loading="_loading" />

@if (!_loading)
{
    <span>Loaded app and authenticated.</span>
}


