@page "/"
@using MediatR
@using Application.Projects.Commands.CreateProject
@rendermode InteractiveServer
@inject ISender Sender

@code {

    async void ProjectTest()
    {
        await Sender.Send(new CreateProjectCommand()
        {
            UserId = 1,
            Name = "Projjectie",
            Description = "Descriptttttie"
        });
    }

}

<PageTitle>Home</PageTitle>

<button @onclick="ProjectTest" class="btn btn-primary">Create a project</button>

