@page "/"
@using Presentation.Services
@inject AuthenticationService AuthService

@rendermode InteractiveServer

@code {
    bool _authenticated;
    int _userId = -1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _authenticated = await AuthService.UserIsAuthenticated();
            if (_authenticated)
            {
                _userId = (await AuthService.GetAuthState())!.UserId;
            }
        }
    }

    async Task Auth()
    {
        await AuthService.Authenticate(1);
    }

}

<span>Authorized? @(_authenticated ? $"yes [{_userId}]" : "No")</span>

<button @onclick="Auth">Auth as user 1</button>